# gradle
build/*
**/build/*
.gradle

# temp folders
tmp/*
**/tmp/*
**/out

# idea
*.iml
.idea/*
**/.idea/*

# eclipse
.project
**/.project
.settings/*
**/.settings/*

# osx crap
.DS_Store*

# editor swap files
.*~
.*swp

# generated stuff
**/generated/

# local configs
local/*.conf
# EOF