#
# lombok configuration
#

#lombok.addLombokGeneratedAnnotation = true
lombok.addGeneratedAnnotation = true
#lombok.addJavaxGeneratedAnnotation = true

# due to the change in Lombok 1.16.20 it has to be explicitly set to false to make Lombok add `@ConstructorProperties` annotation.
lombok.anyConstructor.suppressConstructorProperties = false

# use java.util.Objects.requireNonNull([field name here], "[field name here] is marked non-null but is null");
lombok.nonNull.exceptionType=JDK

# vim:shiftwidth=2 softtabstop=2 expandtab
# EOF